@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Mr+Dafoe&display=swap");
@import "material-icons/iconfont/material-icons.css";
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  p {
    padding: 10px;
  }
}
p.p--oh {
  color: #fdfdfd;
  font-weight: bold;
  font-size: 2.6rem;
}

.container {
  width: 100vw;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}
@media screen and (min-width: 1240px) {
  .container {
    max-width: 1200px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .row {
    flex-direction: row;
  }
}

.col {
  width: 100%;
  padding: 0 15px 15px 15px;
}
@media screen and (min-width: 768px) {
  .col--md20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media screen and (min-width: 768px) {
  .col--md25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media screen and (min-width: 768px) {
  .col--md33 {
    flex: 0 0 33.333333333%;
    max-width: 33.333333333%;
  }
}
@media screen and (min-width: 768px) {
  .col--md50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 1240px) {
  .col--lg20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media screen and (min-width: 1240px) {
  .col--lg25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media screen and (min-width: 1240px) {
  .col--lg33 {
    flex: 0 0 33.333333333%;
    max-width: 33.333333333%;
  }
}
@media screen and (min-width: 1240px) {
  .col--lg50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.heading-h1 {
  color: #fdfdfd;
  font-family: "Courgette", cursive;
  font-size: 5rem;
  text-shadow: 0 0 2px black;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
@media screen and (min-width: 768px) {
  .heading-h1 {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1240px) {
  .heading-h1 {
    font-size: 7rem;
  }
}
.heading-h2 {
  font-family: "Courgette", cursive;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
}
@media screen and (min-width: 1240px) {
  .heading-h2 {
    font-size: 4rem;
  }
}
.heading-h2--ad, .heading-h2--oh {
  color: #fdfdfd;
  text-shadow: 0 0 20px black;
  letter-spacing: 0.4rem;
  font-size: 4rem;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .heading-h2--ad, .heading-h2--oh {
    font-size: 5rem;
  }
}
.heading-h3 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-family: "Courgette", cursive;
  color: white;
  text-align: center;
}
.heading-h3--ohdaystress {
  text-shadow: 0 0 40px black;
}
.heading-h4 {
  font-family: "Courgette", cursive;
  position: relative;
  letter-spacing: 0.2rem;
  color: #fdfdfd;
  font-size: 1.8rem;
  text-shadow: 0 0 1px black;
}
@media screen and (min-width: 768px) {
  .heading-h4 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1240px) {
  .heading-h4 {
    font-size: 2.4rem;
  }
}

.nav {
  background-color: #333333;
}
@media screen and (min-width: 768px) {
  .nav {
    background-color: transparent;
  }
}
.nav__logo {
  font-size: 4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Courgette", cursive;
  color: #fdfdfd;
  text-shadow: 0 0 2px black;
}
.nav__item {
  font-size: 1.6rem;
  line-height: 8rem;
}
@media screen and (min-width: 768px) {
  .nav__item {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1240px) {
  .nav__item {
    font-size: 1.6rem;
  }
}
.nav__item--submenu {
  line-height: 4rem;
}
.nav__link {
  text-decoration: none;
  color: #fdfdfd;
  text-transform: uppercase;
  text-shadow: 0 0 3px black;
  transition: all 400ms;
}
.nav__link:hover {
  color: #fcc45c;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-shadow: 0 0 10px black;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: white;
  cursor: pointer;
}
.btn--start {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.7rem 1.4rem;
  background-color: #fdfdfd;
  border: 1px solid #fdfdfd;
  color: #83182e;
  border-radius: 0.2rem;
  transition: all 0.6s;
}
.btn--start:hover {
  box-sizing: content-box;
  color: #fcc45c;
  border: 1px solid #fcc45c;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px black;
  transition: all 0.6s;
}
@media screen and (min-width: 768px) {
  .btn--start {
    font-size: 1.6rem;
  }
}
.btn--linkaboutus, .btn--menu {
  font-family: "Courgette", cursive;
  font-weight: bold;
  font-size: 1.8rem;
  color: #83182e;
  text-align: center;
  letter-spacing: 2px;
  transition: color 0.6s;
}
.btn--linkaboutus:hover, .btn--menu:hover {
  color: black;
  transition: color 0.6s;
}
@media screen and (min-width: 768px) {
  .btn--linkaboutus, .btn--menu {
    text-align: left;
    font-size: 1.9rem;
  }
}

.ion-md-restaurant {
  font-size: 2.8rem;
  color: #83182e;
}

.img {
  max-width: 100%;
}

.site-header {
  position: relative;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(66, 7, 7, 0.45), rgba(0, 0, 0, 0.9)), url(../assets/hero-image.jpg) center/cover fixed;
}
.site-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 18rem;
  z-index: 2;
}
.site-header__h1 {
  position: absolute;
  width: 100%;
  bottom: 45%;
  text-align: center;
  z-index: 1;
}
.site-header__subheader {
  margin: 1.4rem auto;
}
@media screen and (min-width: 768px) {
  .site-header__subheader {
    margin: 1.8rem auto;
  }
}
.site-header__btn {
  margin-top: 0.5rem;
}

@keyframes slideNav {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-nav__logo {
  transform: translateX(-100rem);
  animation: slideNav 0.6s forwards;
}
.site-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 5rem;
  width: 83%;
  transform: translateX(-100%);
  transition: transform 0.5s;
}
.site-nav__list::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}
@media screen and (min-width: 768px) {
  .site-nav__list::before {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
    flex-direction: row;
    height: 16rem;
    justify-content: flex-end;
    position: static;
    align-items: center;
    transform: translateX(100rem);
    animation: slideNav 0.6s forwards;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    margin: 0 0.8rem;
  }
}
@media screen and (min-width: 1240px) {
  .site-nav__item {
    margin: 0 2rem;
  }
}
.site-nav__item:last-child {
  margin-right: 0;
}
.site-nav__link {
  position: relative;
}
.site-nav__link::before, .site-nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fcc45c;
  left: 0;
  transform: scaleX(0);
  transition: all 0.3s;
}
.site-nav__link::before {
  bottom: -1px;
  transform-origin: right;
}
.site-nav__link::after {
  top: 0;
  transform-origin: left;
}
.site-nav__link:hover::before, .site-nav__link:hover::after {
  transform: scaleX(1);
}

.site-aboutus {
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-color: #fdfdfd;
  min-height: 60vh;
}
.site-aboutus__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.site-aboutus__icon {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.site-aboutus__img-container {
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .site-aboutus__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
.site-aboutus__btn {
  margin-top: 4rem;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .site-aboutus__btn {
    margin: 3rem auto 0 1rem;
  }
}

.site-ad {
  background: linear-gradient(to bottom, rgba(66, 7, 7, 0.45), rgba(0, 0, 0, 0.9)), url(../assets/ad.jpg) center/cover fixed;
  display: flex;
  align-items: center;
  height: 25vh;
}
@media screen and (min-width: 768px) {
  .site-ad {
    height: 30vh;
  }
}

.site-menu {
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-color: #fdfdfd;
  min-height: 60vh;
}
.site-menu__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.site-menu__headline {
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .site-menu__headline {
    margin: 0;
  }
}
.site-menu__icon {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .site-menu__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.site-menu__btn {
  margin-top: 4rem;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .site-menu__btn {
    margin: 3rem auto 0 1rem;
  }
}

.site-oh {
  background: linear-gradient(to bottom, rgba(49, 6, 6, 0.5), rgba(0, 0, 0, 0.9)), url(../assets/site-invite2.jpg) center/cover fixed;
  min-height: 60vh;
  padding-top: 9rem;
  padding-bottom: 9rem;
}
@media screen and (min-width: 768px) {
  .site-oh {
    min-height: 40vh;
    padding-top: 6rem;
    padding-bottom: 8rem;
  }
}
.site-oh__headline {
  width: 100%;
}
.site-oh__hourscol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.site-oh__subline:first-child {
  margin-top: 3rem;
}

/*# sourceMappingURL=main.css.map */
