@use '../01-settings/' as *;
@use '../02-tools/' as *;

.heading{
    &--h1{
        color: $color-white;
        font-family: 'Courgette', cursive;
        font-size: 5rem;
        text-shadow: 0 0 2px black;
        font-weight: 400;
        @include medium{
            font-size: 6rem;
        }
        @include large{
            font-size: 6.5rem;
        }
    }
    &--h2{
        font-family: 'Courgette', cursive;
        font-size: 5rem;
        width: 100%;
        text-align: center;
    }
    &--h4{
        position: relative;
        // font-weight: 600;
        color: $color-white;
        font-size: 1.8rem;
        text-shadow: 0 0 1px black;
        @include medium{
            font-size: 1.8rem;
        }
        @include large{
            font-size: 2rem;
        }
    }
}