@use "../01-settings/" as *;
@use "../02-tools/" as *;

.heading {
  &-h1 {
    color: $color-white;
    font-family: "Courgette", cursive;
    font-size: 5rem;
    text-shadow: 0 0 2px black;
    font-weight: 400;
    letter-spacing: 0.2rem;
    @include medium {
      font-size: 6rem;
    }
    @include large {
      font-size: 7rem;
    }
  }
  &-h2 {
    font-family: "Courgette", cursive;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-align: center;
    @include large {
      font-size: 4rem;
    }
    &--ad,
    &--oh {
      color: $color-white;
      text-shadow: 0 0 20px $color-black;
      letter-spacing: 0.4rem;
      font-size: 4rem;
      line-height: 1.2;
      @include medium {
        font-size: 5rem;
      }
    }
  }
  &-h3 {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    font-family: "Courgette", cursive;
    color: white;
    text-align: center;
    &--ohdaystress {
      text-shadow: 0 0 40px $color-black;
    }
  }
  &-h4 {
    font-family: "Courgette", cursive;
    position: relative;
    letter-spacing: 0.2rem;
    // font-weight: 600;
    color: $color-white;
    font-size: 1.8rem;
    text-shadow: 0 0 1px black;
    @include medium {
      font-size: 2rem;
    }
    @include large {
      font-size: 2.4rem;
    }
  }
}
