@use '../01-settings/' as *;
@use '../02-tools/' as *;

.heading{
    &--h1{
        color: $color-white;
        font-family: 'Courgette', cursive;
        font-size: 3.5rem;
        text-shadow: 0 0 3px black;
        @include medium{
            font-size: 5rem;
        }
        @include large{
            font-size: 5rem;
        }
    }
    &--h2{
        font-family: 'Courgette', cursive;
        font-size: 5rem;
        width: 100%;
        text-align: center;
    }
}