@use "../01-settings/" as *;
@use "../02-tools/" as *;

.icon-box {
  color: $color-yellow;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  cursor: pointer;
  &__icon {
    margin: auto 4rem;
    &:hover {
      color: $color-white;
      transition: 0.5s;
    }
  }
}
.ion-md-restaurant {
  font-size: 2.8rem;
  color: $color-red;
}
