@use "../01-settings/" as *;
.logo {
  font-size: 4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Courgette", cursive;
  color: $color-white;
  text-shadow: 0 0 2px black;
}
