@use "../01-settings" as *;

.text-color-white {
  color: $color-white;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-color-yellow {
  color: $color-yellow;
}
.text-bold {
  font-weight: bold;
}
.text-align-center {
  text-align: center;
}
.line-height-0 {
  line-height: 0;
}
