$font-base: 10px;
$grid-base: $font-base;
$gutter: 1.5 * $grid-base;

$bp-md: 768px;
$bp-lg: 1240px;

$color-white: white;
$color-black: black;
$color-yellow: rgb(252, 196, 92);
$color-gray: rgb(51, 51, 51);
$color-red: crimson;