$font-base: 10px;
$grid-base: $font-base;
$gutter: 1.5 * $grid-base;

$bp-md: 768px;
$bp-lg: 1240px;

$color-white: rgb(253, 253, 253);
$color-black: black;
$color-yellow: rgb(252, 196, 92);
$color-dark-yellow: rgb(202, 156, 71);
$color-gray: rgb(49, 49, 49);
$color-dark-grey: rgb(24, 24, 24);
$color-red: rgb(131, 24, 46);
$color-brown: rgb(68, 19, 29);
$color-dark-brown: rgb(29, 8, 12);
