@use "../01-settings/" as *;
@use "../02-tools/" as *;

.site-menu {
  padding-top: 3rem;
  padding-bottom: 9rem;
  background-color: $color-white;
  min-height: 60vh;
  @include medium {
    padding-top: 9rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // height: inherit;
  }
  &__headline {
    margin-top: 5rem;
    @include medium {
      margin: 0;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  &__img-container {
    @include medium {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__btn {
    margin-top: 4rem;
    z-index: 1;
    @include medium {
      margin: 3rem auto 0 1rem;
    }
  }
}
