@use "../01-settings/" as *;
@use "../02-tools/" as *;

.site-contact {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/site-contact2.jpg) center/cover fixed;
  padding-top: 9rem;
  padding-bottom: 9rem;
  &__icon {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  &__contact-details {
    margin: 6rem auto;

    @include large {
      margin: 0;
    }
  }
  &__logo {
    margin-bottom: 4rem;
    @include large {
      margin-bottom: 2rem;
    }
  }
  &__btn {
    margin: 4rem auto;
    @include large {
      margin: 3rem auto;
    }
  }
  &__map {
    width: 100%;
  }
}
