@use "../01-settings/" as *;
@use "../02-tools/" as *;

.site-gallery {
  padding-top: 9rem;
  padding-bottom: 9rem;
  &__icon {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  &__img-box {
    margin: 4rem auto;
  }
  &__btn {
    display: flex;
    justify-content: center;
  }
}
