@use '../01-settings/' as *;
@use '../02-tools/' as *;

.site-submenu{
    z-index: 2;
    // top: rem;
    &::before{
        top: .9rem;
        left: -2.5rem;
        @include medium{
            content: "";
            position: absolute;
            top: -2.4rem;
            left: 3rem;
        }
    }
}