@use '../01-settings/' as *;
@use '../02-tools/' as *;

@keyframes slideNav{
    0%{

    }
    100%{
        transform: translateX(0);
    }
}

.site-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__logo{
            transform: translateX(-100rem);
            animation: slideNav .5s forwards;
        }
        &__list{
            display: flex;
            position: absolute;
            flex-direction: column;
            top: 14rem;
            @include medium{
                display: flex;
                flex-direction: row;
                position: static;
                align-items: center;
                transform: translateX(100rem);
                animation: slideNav .5s forwards;
            }

        }
        &__item{
            margin: 0 2rem;
            &:last-child{
                margin-right: 0;
            }
        }
        &__link{
            position: relative;

            &::before,&::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $color-yellow;
                left: 0;
                transform: scaleX(0);
                transition: all .3s;
            }
            &::before{
                bottom: -1px;
                transform-origin: right;
            }
            &::after{
                top: 0;
                transform-origin: left;
            }
            &:hover{
                &::before,&::after{
                transform: scaleX(1);
            }

        }
    }
}