@use "../01-settings/" as *;
@use "../02-tools/" as *;

.site-footer-main {
  padding-top: 6rem;
  background-color: $color-dark-grey;
  &__icon-box {
    margin: 2rem auto;
  }
  &__scrollbtn {
    margin-top: 3rem;
  }
}
